<%- include ('../partials/head') %>

<body class="min-width: 372px">
  <%- include ('../partials/nav') %>
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="row justify-content-center text-uppercase">
        Crie a categoria do produto
      </h1>
      <form
        class="row justify-content-center g-3 formCreateCategory"
        novalidate
      >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label"
            >Nome da categoria:</label
          >
          <input
            type="text"
            name="nameCategory"
            class="form-control"
            id="validationCustom01"
            placeholder="Digite o nome da categoria"
            required
          />
          <div class="invalid-feedback">
            Não esqueça de preencher esse campo!
          </div>
          <div class="row justify-content-center gap-3 pt-5">
            <button
              class="btn btn-lg btn-primary"
              style="width: 45%"
              type="submit"
            >
              Criar
            </button>
            <a
              class="btn btn-outline-warning btn-lg"
              style="width: 45%"
              href="../product/createProduct"
              >Cancelar</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="../../../js/api/apiCreateCategory.js"></script>
  <%- include ('../partials/footer') %> <%- include ('../partials/scripts') %>
</body>
