  <footer class="border-top fixed-bottom text-muted bg-black pb-2">
      <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <a href="/" class="text-decoration-none text-light">&copy; 2022 - DH-Sports</a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="privacy" class="text-decoration-none text-light">Política de Privacidade</a><br>
                <a href="termsUse" class="text-decoration-none text-light">Termos de Uso</a><br>
                <a href="exchangePolicy" class="text-decoration-none text-light">Politica de Troca, Devolução e Arrependimento</a>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
                <a href="admin" class="text-decoration-none text-light"><i class="bi bi-key-fill" style="font-size: 1rem;"></i> Administrar</a>
            </div>
        </div>
      </div>
  </footer>