<header class="container">
    <div id="carouselMain" class="carousel carousel-light slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
        <li data-target="#carouselMain" data-slide-to="1" class="active"></li>
        <li data-target="#carouselMain" data-slide-to="2" class="active"></li>
        <li data-target="#carouselMain" data-slide-to="3" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active text-center" data-interval="3000ms">
          <img src="/images/Bann-promocao.jpg" alt="banner-promo" class="img-fluid d-none d-md-block">
          <img src="/images/Bann-promocao.jpg" alt="banner-promo" class="img-fluid d-block d-md-none">
        </div>
        <div class="carousel-item text-center" data-interval="3000ms">
          <img src="/images/Bann-milan.jpg" alt="banner-milan" class="img-fluid d-none d-md-block">
          <img src="/images/Bann-milan.jpg" alt="banner-milan" class="img-fluid d-block d-md-none">
        </div>
        <div class="carousel-item text-center" data-interval="3000ms">
          <img src="/images/Bann-liver.jpg" alt="banner-liver" class="img-fluid d-none d-md-block">
          <img src="/images/Bann-liver.jpg" alt="banner-liver" class="img-fluid d-block d-md-none">
        </div>
        <div class="carousel-item text-center" data-interval="3000ms">
          <img src="/images/Bann-juve.jpg" alt="banner-juve" class="img-fluid d-none d-md-block">
          <img src="/images/Bann-juve.jpg" alt="banner-juve" class="img-fluid d-block d-md-none">
        </div>
       <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden"></span>
       </a>
       <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden"></span>
       </a>
    </div>
    <hr class="mt-3" />
  </header>