<script src="../../../js/api/apiProducts.js"></script>;

<main class="mb-5 pb-5 mb-md-0">
      <div class="container mb-5">
          <div class="row">
              <div class="col-12 col-md-5">
                <form action="" class="justify-content-center justify-content-md-start mb-3 mb-md-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                        <button class="btn btn-lg btn-outline-danger mb-1">
                            Buscar
                        </button>
                    </div>
                </form>
              </div>
                <div class="col-12 col-md-7">
                    <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                        <form action="" class="d-inline-block">
                            <select name="" id="" class="form-select form-control form-control-sm">
                                <option value="">
                                    Ordenar pelo nome <!-- mudar para categoria -->
                                </option>
                                <option value="">
                                    Ordenar pelo menor preço
                                </option>
                                <option value="">
                                    Ordenar pelo maior preço
                                </option>
                            </select>
                        </form>
                        <nav class="d-inline-block">
                            <ul class="pagination pagination-sm my-0">
                                <li class="page-item disabled">
                                    <button class="page-link">1</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link">2</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link">3</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link">4</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link">5</button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link">6</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
          </div>
          <hr class="mt-3">
          <div class="row g-3">
              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="card text-center bg-light" style="width: 25rem;">
                    <a href="#" class="d-flex justify-content-end">
                        <i class="bi bi-heart position-absolute" style="font-size: 2rem; color: red" alt="favorites"></i>
                    </a>
                    <img src="/images/produtos/kit-psg-list.jpg" class="card-img-top" alt="img-kit-psg">
                    <div class="card-header">
                        R$550,00
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Kit-PSG</h5>
                        <p class="card-text truncate3l">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         </p>
                    </div>
                    <div class="card-footer">
                        <form action="" class="d-block">
                            <button class="btn btn-danger">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Quantidade em estoque</small>
                    </div>
                </div>
              </div>
          </div>
          <hr class="mt-3">
          <div class="row">
               <div class="col-12">
                <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                    <form action="" class="d-inline-block">
                        <select name="" id="" class="form-select form-control form-control-sm">
                            <option value="">
                                Ordenar pelo nome <!-- mudar para categoria -->
                            </option>
                            <option value="">
                                Ordenar pelo menor preço
                            </option>
                            <option value="">
                                Ordenar pelo maior preço
                            </option>
                        </select>
                    </form>
                    <nav class="d-inline-block">
                        <ul class="pagination pagination-sm my-0">
                            <li class="page-item disabled">
                                <button class="page-link">1</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">2</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">3</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">4</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">5</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">6</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
               </div> 
          </div>
    </main>