  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
      <div class="container">
          <a class="navbar-brand" href="/"><strong>DH-Sports</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse  collapse">
            <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
               <li class="nav-item">
                   <a href="/produtos" class="nav-link text-white"><i class="bi bi-bag-fill" style="color:aliceblue"></i> Produtos</a>
               </li>
               <li class="nav-item">
                <a href="/promocoes" class="nav-link text-white"><i class="bi bi-handbag-fill" style="color:aliceblue"></i> Promoções</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link text-white"><i class="bi bi-box-arrow-in-right" style="color:aliceblue"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a href="/carrinho" class="nav-link text-white"><i class="bi bi-cart4" style="color:aliceblue"></i> Carrinho</a>
                </li>  
            </ul>
        </div> 
      </div>
  </nav>