<%- include ('../partials/head')%>

  <body style="min-width: 372px;">
      <%- include ('../partials/nav')%>

    <main class="container">
        <form method="GET" action="/changePassword">
          <div class="card mx-auto" style="width: 18rem;">
            <div class="text-center">
              <h4>Cadastre sua nova senha</h4>
            </div>
            <div class="text-center">
              <i class="bi bi-person-circle" style="font-size: 2em"></i>
            </div>
            <div class="card-body">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Nova senha</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirme sua senha</label>
              </div>
            </div>
            <button class="btn btn-primary btn-md mx-auto mb-2" style="width: 10rem" type="submit">Salvar senha</button>
          </div>
        </form>
    </main>


      <%- include ('../partials/footer')%>
    <%- include ('../partials/scripts')%>
  </body>

  </html>
