<h1>Altere a sua senha:</h1>

<form method="POST" action="">
  <label>Senha nova:</label>
  <br />
  <input type="password" />
  <br />
  <label>Confirme sua senha:</label>
  <br />
  <input type="password" />
  <br />
  <button type="submit">Confirmar</button>
</form>
