/*fonte do site*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
}

body {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: black;
}

/* Slider------------------------------------------------------------------- */
#slide-wrapper {
  width: 90%;
  margin: 0 auto;
}

#slide-items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide-item {
  flex: none;
  width: 50%;
  height: 400px;
  object-fit: cover;
  scroll-snap-align: start;
  pointer-events: none;
}

.slide-item img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { 
  background: transparent;
}

/* Bloco de destaques e promos Start----------------------------------------------- */

.container-item {
  display: flex;
  margin: 0 auto;
}

.title-item{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid white;
}

.title-item-produtos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.item {
  width: 236px;
  height: 300px;
  background-color: rgba(221,221,221,0.5);
  margin: 0 auto;
  transition: transform .5s ease;
}

.item:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item p {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.item a {
  text-decoration: none;
  color: white;
}

.valor-antigo {
  color: red;
  text-decoration: line-through;
}
/* Produtos-detalhe */
.grid-prod-detalhes {
  width: 500px;
  display: grid;
  grid-template-columns: auto auto;
}

.produto-detalhe {
  width: 500px;
  margin-left: auto;
}

.slide-controller:nth-child(1):checked ~ .slide-produto .slides-list-produto{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-produto .slides-list-produto{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-produto .slides-list-produto{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-produto .slides-list-produto{--selected-item: 3;}

.slide-produto{
  overflow: hidden;
}

.slides-list-produto{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.slide-detalhe{
  width: 500px;
}
/* Desc dos produtos */
.desc-produto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px 150px 150px 100px 100px auto;
  width: 500px;
  height: 730px;
  marging-right: auto;
  border: 1px solid white;
}

.valor-produto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin: 10px 10px;
}

.valor-atual {
  color: white;
  font-size: 30px;
}

.tam-roupa {
  color: white;
  padding-top: 25px;
  margin: 10px 10px;
}

.tam-roupa label {
  color: red;
}

.tam-roupa radio {
  background-color: red;
}

.desc-prod-text {
  color: white;
  text-align: justify;
  margin: 10px 10px;
}

.text-red {
  color: red;
}

.btn-compra-prod {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0 20px 0;
}

.btn-compra-prod button {
  width: 150px;
  font-size: 30px;
  color: white;
  background-color: #ff952b;
  border-radius: 10px
}

.btn-frete-prod {
  width: 250px;
  border: 1px solid #ff952b;
  border-radius: 10px
}

.btn-frete-prod button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  margin-left: -10px;
}

.btn-frete-prod span {
  color: white;
}

.btn-frete-prod i {
  color: white;
  position: relative;
  top: 0.5px;
  left: -30px;
}

.btn-frete-prod input {
  color: white;
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.btn-frete-prod::placeholder {
  border: none;
  color: white;
}

/* Box buttons-------------------------- */
.container-btn {
  width: 80%;
  display: flex;
  margin: 50px auto;
}

.container-btn a {
  text-decoration: none;
}

.container-btn p {
  text-transform: uppercase;
  text-size: 10px;
  color: white;
}

.btn {
  width: 236px;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(221,221,221,0.5);
  margin: 0 auto;
  transition: transform .5s ease;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Deixe seu e-mail--------------------------------------------------- */
.container-email {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid white;
}

.email-title {
  color: white;
  text-align: center;
}

.email {
  display: flex;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}

.box-input-nome {
  border-radius: 30px;
  margin-right: 10px;
}

.box-input-nome input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 30px;
  font-family: 'Font Awesome';
  padding-left: 15px;
}

.box-input-nome i {
  color: grey;
  position: relative;
  top: 2px;
  right: 20px;
}

.box-input-email {
  border-radius: 30px;
  margin-right: 10px;
}

.box-input-email input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 30px;
  font-family: 'Font Awesome';
  padding-left: 15px;
}

.box-input-email i {
  color: grey;
  position: relative;
  top: 2px;
  right: 20px;
}

.box-input-submit button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: blue;
  border-radius: 30px
}

.box-input-nome input:focus, .box-input-email input:focus {
  background-color: #ffd5bf;
}

/* Video promocional----------------------------------------------- */
.container-video {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-video video {
  width: 500px;
}


footer h2 {
    color: white;
    text-align: center;
}


/* Responsividade */
@media (max-width: 770px) {
  .container-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .item {
    margin-bottom: 16px;
  }

  .btn {
    width: 200px;
    margin-right: 10px;
  }

}

@media (max-width: 686px) {
  .container-btn {
    width: 200px;
    flex-direction: column;
    margin: 20px auto;
  }

  .btn {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .container-email {
    width: 350px;
    height: 200px;
  }

  .email {
    text-align: center;
    align-items: center;
  }

  .box-input-nome {
    display: block;
    margin-bottom: 10px;
  }

  .box-input-email {
    display: block;
    margin-bottom: 10px;
  }

}

@media (max-width: 500px) {
  .container-video video {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .container-video video {
    width: 350px;
  }
}

@media (max-width: 391px) {
  #slide-wrapper {
    width: 90%;
  }
  
  .container-email {
    width: 300px;
    height: 150px;
  }
  .email-title p {
    font-size: 13px;
  }

  .container-video video {
    width: 300px;
  }

}
