<%- include ('partials/head') %>

<body class="min-width: 372px">
  <%- include ('partials/nav') %>

  <div class="container">
    <di v class="row justify-content-center">
        <form action="" method="" class="col-sm-10 com-md-8 col-lg-6">
            <h1 class="mb-3">Olá Admin, efetue seu login!</h1>
            <hr>
           <div class="form-floating mb-3">
                    <input type="text" class="form-control"  id="nameImput" placeholder=" ">
                    <label for="floatingInput">Nome:</label>
                    <div class="form-text" style="color: red;">OBS: Nome conforme cadastrado no sistema.</div>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="passImput" placeholder=" ">
                    <label for="floatingPassword">Senha:</label>
                    <div class="form-text" style="color: red;">OBS: Sua senha conforme cadastrada no sistema.</div>
                  </div>
            <div class="mb-3">
                <button class="btn btn-outline-danger" type="submit">Entrar</button>
            </div>
        </form>
    </di>
</div>
  <%- include ('partials/footer') %>
  <%- include ('partials/scripts') %>
</body>