<%- include ('./partials/head') %>

<body class="min-width: 372px">
  <%- include ('./partials/nav') %>

  <div class="container">
    <div class="row justify-content-center gap-3">
      <h1 class="text-center">Escolha seus produtos por categoria</h1>
      <div class="card" style="width: 18rem">
        <img
          src="/images/produtos/kit-psg-1.jpg"
          class="card-img-top mt-1"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Kits Completos</h5>
          <p class="card-text">
            Entre em campo com o uniforme completo do seu time do coração.
          </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/images/produtos/Camisa Real Madrid Home 19_20.jpg"
          class="card-img-top mt-1"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Camisas</h5>
          <p class="card-text">
            Camisas de todos os clubes do mundo você encontra aqui, clique e
            confira!
          </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/images/produtos/adidas Predator Freak FG Cleats (Diamond Edge Pack).jpg"
          class="card-img-top mt-1"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Chuteiras</h5>
          <p class="card-text">
            Desde as mais modernas até aquelas do passado que você sonhou em
            ter.
          </p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>

  <%- include ('./partials/footer') %> <%- include ('./partials/scripts') %>
</body>
