<%- include partials/head%>

  <body style="min-width: 372px;">
    <nav>
      <%- include partials/nav%>
    </nav>

    <main>
        <div class="container">
            <h1>Mensagem Recebida!</h1>
            <hr>
            <p>
                Caro cliente,
            </p>
            <p>
                Informamos que sua mensagem foi recebida com sucesso por nossa central de relacionamentos
                com clientes e que em até <b>2 dias úteis</b> ela será respondida. Para evitarmos problemas
                de comunicação, evite reenviar esta mesma mensagem dentro do prazo de resposta. 
            </p>
            <p>
                Agradecemos pela confiança em nossos serviços.
            </p>
            <p>
                Cordialmente,<br>
                Central de Relacionamento <strong>DH-Sports</strong>.
            </p>
        </div>
    </main>

    <footer>
      <%- include partials/footer%>
    </footer>
    <%- include partials/scripts%>
  </body>

  </html>