<%- include ('partials/head')%>

  <body style="min-width: 372px;">
    <nav>
      <%- include ('partials/nav')%>
    </nav>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div>
                    <h1>Nova Senha Cadastrada com Sucesso!</h1>
                    <hr>
                    <p>Caro <strong>cliente</strong>,</p>
                    <p>
                       Sua nova senha foi cadastrada com sucesso. Para voltar a navegar em nossa loja, <a href="/">Clique aqui.</a>.
                    </p>
                    <p>
                        Desde já agradecemos pela confiança em nossos serviços.
                    </p>
                    <p>
                        Cordialmente,<br>
                        central de relacionamento <strong>DH-Sports</strong>.
                    </p>
                    <p>
                      <a href="/" class="btn btn-danger">
                          Voltar à Página Principal
                      </a>
                    </p>
                </div>

            </div>
        </div>
      
    </main>

    <footer>
      <%- include ('partials/footer')%>
    </footer>
    <%- include ('partials/scripts')%>
  </body>

  </html>