<%- include ('partials/head')%>

  <body style="min-width: 372px;">
    <nav>
      <%- include ('partials/nav')%>
    </nav>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <form action="" method="" class="col-sm-10 com-md-8 col-lg-6">
                    <h1 class="mb-3">Faça seu Login</h1>
                    <hr>
                    <div class="form-floating mb-3">    
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        <label for="email">E-mail:</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Sua senha">
                        <label for="password">Senha:</label>
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" name="chkPromocoes" id="chkPromocoes" value="checkedValue" checked>
                          Lembrar Usuário.
                        </label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-outline-danger" type="submit">Entrar</button>
                    </div>
                    <div class="mt-3">
                        <p>
                            Ainda não é cadastrado? <a href="registration">Clique aqui</a> para 
                            se cadastrar.
                        </p>
                        <p>
                            Esqueceu sua senha? <a href="recPassword">Clique aqui</a> para
                            recupera-lá.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
      <%- include ('partials/footer')%>
    </footer>
    <%- include ('partials/scripts')%>
  </body>

  </html>