<%- include ('partials/head') %>

  <body class="min-width: 375px">
    <%- include ('partials/nav') %>
      

        <main class="container mb-5">
          <h1>Fechamento da compra</h1>
          <div class="">
            <form action="" method="post">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Pedido número: </h5>
                      <p class="card-text">Seus itens: </p>
                      <p class="card-text">Total de itens: </p>
                      <p class="card-text">Valor total da compra: R$:</p>
                      <button type="submit" class="btn btn-warning">Finalizar a compra</button>
                    </div>
                  </div>
                </div>
            </form>
            
        </main>





        <hr class="mb-5">
        <!-- Functions - carrinho -->
        <script 
          src="../../../js/functions/shoopingCart.js">
        </script>
        <%- include ('partials/footer') %>
          <%- include ('partials/scripts') %>
  </body>