<%- include ('partials/head')%>

  <body style="min-width: 372px;">
    <nav>
        <%- include ('partials/nav')%>
    </nav>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <form action="" class="col-sm-10 com-md-8 col-lg-6">
                    <h1 class="mb-3">Recuperação de senha</h1>
                    <hr>
                    <div class="form-floating mb-3">
                        <label for="txtEmail">E-mail:</label>
                        <input type="email" class="form-control" autofocus id="textEmail" placeholder="Seu e-mail" required>
                    </div>
                    <div class="mb-3">
                        <a class="btn btn-light btn-outline-danger" href="recPassConfirm">Recuperar Senha</a>
                    </div>
                    <div class="mt-3">
                        <p>
                            Ainda não é cadastrado? <a href="registration">Clique aqui</a> para 
                            se cadastrar.
                        </p>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </main>

    <footer>
      <%- include ('partials/footer')%>
    </footer>
    <%- include ('partials/scripts')%>
  </body>

  </html>