<%- include ('partials/head')%>

  <body style="min-width: 372px;">
    <nav>
      <%- include ('partials/nav')%>
    </nav>
    <main>
        <div class="container">
            <h1>Confirmação de recuperação de Senha</h1>
            <hr>
            <p>Caro <strong>cliente</strong>,</p>
            <p>
                As instruções para a realização de cadastro de uma nova senha foram enviadas para o
                e-mail <b>email@dominio.com.br</b>. Abra a mensagem que lhe enviamos e siga as instruções
                corretamente para cadastrar uma nova senha.
            </p>
            <p>
                Desde já agradecemos pela confiança em nossos serviços.
            </p>
            <p>
                Cordialmente,<br>
                central de relacionamento <strong>DH-Sports</strong>.
            </p>
            <p>
              <a href="/" class="btn btn-danger">
                  Voltar à Página Principal
              </a>
            </p>
        </div>      
    </main>

    <footer>
      <%- include ('partials/footer')%>
    </footer>
    <%- include ('partials/scripts')%>
  </body>

  </html>