<%- include ('partials/head')%>

  <body style="min-width: 372px;">
    <nav>
      <%- include ('partials/nav')%>
    </nav>
    <main>
        <div class="container">
            <h1>Confirmação de cadastro</h1>
            <hr>
            <p>Caro <strong>Primeiro nome do cliente</strong>,</p>
            <p>
                Obrigado por se cadastrar em nossa loja virtual. Um e-mail de confirmação foi enviado
                para <b>email@dominio.com.br</b>. Clique no link de confirmação presente no e-mail
                para concluirmos seu cadastro.
            </p>
            <p>
                Desde já agradecemos pela confiança em nossos serviços.
            </p>
            <p>
                Cordialmente,<br>
                central de relacionamento <strong>DH-Sports</strong>.
            </p>
            <p>
              <a href="/" class="btn btn-danger">
                  Voltar à Página Principal
              </a>
            </p>
        </div>      
    </main>

    <footer>
      <%- include ('partials/footer')%>
    </footer>
    <%- include ('partials/scripts')%>
  </body>

  </html>