<%- include ('../partials/head') %>

<body class="min-width: 372px">
  <%- include ('../partials/nav') %>

  <div class="container">
    <di v class="row justify-content-center">
        <form action="" method="" class="col-sm-10 com-md-8 col-lg-6">
            <h1>Alterar/excluir um ou mais produtos</h1>
        </form>
    </di>
</div>
  <%- include ('../partials/footer') %>
  <%- include ('../partials/scripts') %>
</body>