<%- include ('../partials/head') %>

  <body class="min-width: 372px">
    <%- include ('../partials/nav') %>
          <h1 class="text-center">
            Alterar produto
          </h1>
          <form class="row justify-content-center mx-0 g-3 mb-5">
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Atualize o nome do produto:</label>
              <input type="text" name="nameProduct" class="form-control" id="inputNameProduct"
                placeholder="Digite o nome do produto" required>
              <div class="invalid-feedback">
                Não esqueça de preencher esse campo!
              </div>
              <label for="validationTextarea" class="form-label pt-3">Atualize a descrição do produto:</label>
              <textarea class="form-control" name="descProduct" id="inputDescProduct"
                placeholder="Descrição do seu produto" style="width:100%" required></textarea>
              <div class="invalid-feedback">
                Descreva o seu produto!
              </div>
              <label for="validationCustom01" class="form-label pt-3">Atualize o valor do produto:</label>
              <input type="text" name="valueProduct" class="form-control" id="inputValueProduct"
                placeholder="Digite o valor do produto, ex: 000,00" required>
              <div class="invalid-feedback">
                Não esqueça de preencher esse campo!
              </div>
              <div class="custon-upload">
                <label for="formFile" class="form-label pt-3">Atualize a imagem do produto:</label>
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="row justify-content-center gap-3 pt-5">
                <button class="btn btn-lg btn-primary" style="width:45%" type="submit">Atualizar</button>
                <button class="btn btn-lg btn-danger" style="width:45%" type="submit">Excluir</button>
              </div>
              <div class="row justify-content-center gap-3 pt-5 mb-5">
                <a class="btn btn-outline-warning btn-lg" style="width:45%" href="adminProduct">Cancelar</a>
              </div>
            </div>
          </form>
      <hr class="mb-5">
      <%- include ('../partials/footer') %>
        <%- include ('../partials/scripts') %>
  </body>