<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>DH-Sports</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>
    <main>
        <!-- Slider------------------------------------------------------------------- -->
        <div id="slide-wrapper">
            <div id="slide-items">
                <div class="slide-item"><img src="/images/kit1.jpg" alt="img/kit1"></div>
                <div class="slide-item"><img src="/images/kit2.jpg" alt="img/kit2"></div>
                <div class="slide-item"><img src="/images/kit3.jpg" alt="img/kit3"></div>
                <div class="slide-item"><img src="/images/kit4.jpg" alt="img/kit4"></div>
                <div class="slide-item"><img src="/images/kit5.jpg" alt="img/kit5"></div>
                <div class="slide-item"><img src="/images/kit6.jpg" alt="img/kit6"></div>
                <div class="slide-item"><img src="/images/kit7.jpg" alt="img/kit7"></div>
                <div class="slide-item"><img src="/images/kit8.jpg" alt="img/kit8"></div>
            </div>
        </div>
        <!-- Slider End---------------------------------------------------------------- -->

        <!-- Bloco de destaques e promos----------------------------------------------- -->
        <div class="title-item">
            <h2>Nossos destaques!</h2>
        </div>
        <section class="container-item">
            <div class="item">
                <a href="#" class="destaque1">
                <img src="/images/kit1.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit2.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit3.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
        </section>

        <div class="title-item">
            <h2>Mais vendidos!</h2>
        </div>
        <section class="container-item">
            <div class="item">
                <a href="#" class="destaque1">
                <img src="/images/kit4.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit6.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
            
            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit7.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
        </section>

        <!-- End Bloco de destaques e promos----------------------------------------------- -->

        <section class="container-btn">

            <div class="btn">
                <a href="#" class="btn-novidades">
                <p>novidades</p>
                </a>
            </div>

            <div class="btn">
                <a href="#" class="btn-atacado">
                <p>atacado</p>
                </a>
            </div>

            <div class="btn">
                <a href="#" class="btn-pergunta">
                <p>perguntas frequentes</p>
                </a>
            </div>

        </section>

        <div class="email-title">
            <p>Deixe seu e-mail e receba promoções exclusivas!</p>
        </div>
        <section class="container-email">

                <div class="email">
                    
                    <form action="mailto:admin@email.com" method="POST" enctype="text/plain">

                        <span class="box-input-nome">
                            <input name="nome" type="text" placeholder="Digite seu nome..." autocomplete="off" required><i class="fa-solid fa-keyboard"></i>
                        </span>
    
                        <span class="box-input-email">
                            <input name="email" type="email" placeholder="Digite seu e-mail..." autocomplete="off" required><i class="fa-solid fa-envelope"></i>
                        </span>
                        
                        <span class="box-input-submit">
                            <button type="submit" value="Enviar"><i class="fa-solid fa-file-import"></i> Enviar</button>
                        </span>
    
                    </form>
                </div>
            
        </section>

        <section class="container-video">
            <div>
                <video src="/media/video-promocional.mp4" loop controls>
                <p>Seus navegador não tem compatibilidade com reprodução de videos</p>
            </video>
        </div>
        </section>

    </main>
    <footer>
        <h2>Footer</h2> 
    </footer>
    <script src="/javascripts/myscripty.js"></script>
    <script src="https://kit.fontawesome.com/f5775eff13.js" crossorigin="anonymous"></script>
</body>
</html>