<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale-1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Projeto Integrador</title>
    
</head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
        <a href="index.html" title="Home"><img src="https://img.icons8.com/color/344/espn.png" width="60" height="54"></a>
        </div>
        
         <!-- Caixa de pesquisa-->
        <div class="pesquisar">
          <button class="Buscar">
          <input type="text" placeholder="Buscar..."/>
          <a href="" title="Pesquisar"><img src="https://img.icons8.com/ios-filled/344/fa314a/search--v1.png"
           alt="Buscar"/>
         </button> </a>
        </div>
        <br>
  
        <!-- botao login/cadastro-->
  
        <div class="login">
          <button class="BOTAO_CONTA" id="TESTE">MINHA CONTA
          <a type= "text" href="index.html">
           <img src="https://img.icons8.com/material-rounded/344/fa314a/user-male-circle.png" title="Acessar conta"
              alt="Usuário"/></a>
          </button>
        </div>
         <br>
         
       <!-- Botão carrinho-->
  
        <div class="carrinho" >
  <button class="BOTAO_CARRINHO" id="TESTE">CARRINHO
     <a type= "text"  href="index.html">
           <img src="https://img.icons8.com/material-rounded/344/fa314a/sell-stock.png" 
              alt="Carrinho"/></a>
          </button>
        </div>
      </div>
  
  
  
   <nav>
   <ul>
     <li><a href="#">TIMES DO BRASIL</a>
       <div class="sub-times-br">
          <ul>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">América-MG</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Athletico-PR</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Atlético-GO</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Atlético-MG</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Avaí</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Botafogo</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Ceará</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Corinthians</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Coritib</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Cuiabá</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Flamengo</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Fluminense</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Fortaleza</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Goiás</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Internacional</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Juventude</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Palmeiras</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Red Bull Bragantino</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Santos</a></li>
            <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">São Paulo</a></li>
          </li>
          </ul>
        </div>
  
        
   <li><a href="#">TIMES DA EUROPA</a>
     <div class="sub-times-Europa">
       <ul>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Real Madrid</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Barcelona</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Bayern</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Milan</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Boca Juniors</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Liverpool</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Ajax</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">River Plate</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Peñarol</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Internazionale de Milão</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Benfica</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Al Ahly</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Porto</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Nacional-URU</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Independiente-ARG</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Glasgow Rangers</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Celtic</a></li>
         <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Arsenal</a></li>
       
       </ul>
      </div>
  </li>
  
  
  
  
      
  <li><a href="#"> SELEÇÕES</a>                            
     <div class="sub-seleções">
      <ul>                                  
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Brasil</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">França</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Belgica</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Argentina/a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Inglaterra</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Italia</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Espanha</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Portugal/a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">México/a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Holanda</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Dinamarca</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Alemanha</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Uruguai</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Suiça</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Estados Unidos</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Croácia</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Colombia</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">País de Gales</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Suécia</a></li>
        <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Senegal</a></li>
            
          </li>
        </ul>
      </div>
  
  
          
              <li><a href="#">MAIS OPÇÕES</a>
                <div class="sub-opcoes">
                <ul>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">América-MG</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Athletico-PR</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Atlético-GO</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Atlético-MG</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Avaí</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Botafogo</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Ceará</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Corinthians</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Coritib</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Cuiabá</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Flamengo</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Fluminense</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Fortaleza</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Goiás</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Internacional</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Juventude</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Palmeiras</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Red Bull Bragantino</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">Santos</a></li>
                      <li><a href="C:\Users\Usuario\pi-lojaesportesdh\pi-lojaesportesdh\views\index.html" target="_blank">São Paulo</a></li>
                  
         </li>
       </ul>
            </div>
            </ul>
    </nav>
  </header>
 </div>
</div>
  
<!--INICIO DO MAIN-->
   <main >
<!--main box à esquerda-->
       <fieldset class="box_left" >

          <div class="box_textlogin" >
               <span>Login</span>
               <span>
                 <input 
                    type="text" 
                    name="login" 
                    placeholder="E-mail..."
                    title="O seu email..."/>
               </span>
           </div>
           <div class="box_textsenha" >
            <label for="username">Senha:</label>
            <input class="input_senha" type="password" id="pass" name="password" placeholder="Senha..."
            minlength="6" required>
               </span>
              <input class="input_entrar" type="submit" value="Entrar"/>
              <input class="input_cod_acesso" type="submit" value="Receber código de acesso"/>
            </div>
         <input class="input_esqueciSenha" type="submit" value="Esqueci a senha"/>
            
       </fieldset>
     </div>

<!--main box à direita-->
     <div>
       <fieldset class="box_right" >
       <p class="p-1">Ainda não tenho cadastro</p>
       <p class="p-2">Cadastre-se agora mesmo <br>em nossa loja, é seguro, <br>rápido e muito fácil.</p>
       <input type="submit" value="Clique para se cadastrar"/>
       </fieldset>  
   </main>


   <!--INICIO FOOTER-->
   <footer style="background-color: black;">
    <div>
            <div style="text-align: center;"> 
               <p style="color:white">Curso Fullstack Web - Turma 0222CDFSPCN05BRED</p>
          
              <p style="color: white">Copyright ©2022, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo do site, todas as fotos, imagens, 
              logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui veiculados são 
              exclusivamente para uso acadêmico.</p>


              <div  style="display: flex;
              justify-content: space-evenly;">
   <div style="margin-left: 14px">
     <img style="" src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-0.png" alt="Facebook" height ="60" width="60" />
     <button style="background-color: black;" type="button"; style="color:aqua">none</button>
   </div>
   <div style="margin-left: 14px">
     <img src="https://www.pngmart.com/files/21/Instagram-Logo-PNG-File.png" alt="Instagram" height ="50" width='50' />
     <button style="background-color: black;" type="button"; style="color:aqua";>none</button>
   </div>
   <div style="margin-left: px">
     <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-1-1.png" alt="Twitter" height ="50" width="50" />
     <button style="background-color: black;" type="button">none</button>
   </div>3
      </div>
  </div>
</footer>
</body>
</html>