<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>DH-Sports</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>

    <main class="grid-prod-detalhes">

        <section class="produto-detalhe">
          <input type="radio" class="slide-controller" name="slide" checked />
          <input type="radio" class="slide-controller" name="slide" />
          <input type="radio" class="slide-controller" name="slide" />
          <input type="radio" class="slide-controller" name="slide" />
          
          <div class="slide-produto" >
            <ul class="slides-list-produto" >
              <li class="slide-detalhe" >
                <img src="/images/kit-psg-1.jpg" />
              </li>
              <li class="slide-detalhe" >
                <img src="/images/kit-psg-2.jpg" />
              </li>
              <li class="slide-detalhe" >
                <img src="/images/kit-psg-3.jpg" />
              </li>
              <li class="slide-detalhe" >
                <img src="/images/kit-psg-4.jpg" />
              </li>
            </ul>
          </div>
      </section>

        <div class="desc-produto">
          <div>
            <h2>
              Camiseta Nike PSG III 2021/22
            </h2>
          </div>
          
          <div class="valor-produto">
            <div>
              <p class="valor-antigo">R$ 350,00</p>
              <p class="valor-atual">R$ 300,00</p>
            </div>

            <div class="btn-compra-prod">
              <a href="">
                <button>
                  Comprar
                </button> 
              </a>
            </div>
            
            <div class="btn-frete-prod">
              <span>Calcule seu frete:</span>
              <input type="text" class="frete" placeholder="digite seu cep">
              <i class="fa-solid fa-truck-fast"></i>
              <button type="button" class="calcular">calcular </button>
            </div>
          </div>

            <div class="tam-roupa">
              <p>Selecione o tamanho desejado:</p>
              <label for="p-option" class="tam-radio">
                <input type="radio" id="p-option" name="selector" tabindex="1">
                <span>P</span>
              </label>
              <label for="m-option" class="tam-radio">
                <input type="radio" id="m-option" name="selector" tabindex="2">
                <span>M</span>
              </label>
                <label for="g-option" class="tam-radio">
                <input type="radio" id="g-option" name="selector" tabindex="3">
                <span>G</span>
              </label>
            </div>

            <div class="desc-prod-text">
              <span class="text-red">Descrição:</span>
              <p> 
                O SEU TIME. AS SUAS CORES. Como outras camisas da nossa coleção Stadium,
                a Camisa Paris Saint-Germain combina os detalhes do modelo réplica com tecido que absorve o suor para proporcionar um visual pronto para o jogo,
                inspirado em seu time favorito. Esse produto é feito com tecido contendo fibras com pelo menos 75% de poliéster reciclado.
                BenefíciosTecido respirável com tecnologia Nike Dri-FIT absorve o suor da sua pele para evaporação mais rápida,
                ajudando você a permanecer seco e confortável. Este modelo réplica é feito com base na camisa que os profissionais usam em campo.
              </p>  
                <span class="text-red">Detalhes do Produto:</span> Corte justo para sensação sob medida.
                  100% poliéster, Lavável à máquina, Importado!
            </div>
            
        </div>
    </main>

    <footer>
        <h2>Footer</h2> 
    </footer>

    <script src="/javascripts/myscripty.js"></script>
    <script src="https://kit.fontawesome.com/f5775eff13.js" crossorigin="anonymous"></script>
</body>
</html>