<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>DH-Sports</title>
</head>
<body>
    <header>
        <h1>Header</h1>
    </header>
    <main>

        <!-- todos os produtos -->
        <div class="title-item">
            <h2>Nossos produtos!</h2>
        </div>
        <section class="container-item">
            <div class="item">
                <a href="#" class="destaque1">
                <img src="/images/kit1.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit2.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit3.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
        </section>

        <div class="title-item-produtos">
            
        </div>
        <section class="container-item">
            <div class="item">
                <a href="#" class="destaque1">
                <img src="/images/kit4.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit6.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
            
            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit4.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
        </section>

        <div class="title-item-produtos">
            
        </div>
        <section class="container-item">
            <div class="item">
                <a href="#" class="destaque1">
                <img src="/images/kit7.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>

            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit8.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
            
            <div class="item">
                <a href="#" class="destaque2">
                <img src="/images/kit1.jpg" alt="">
                <p>De: <span class="valor-antigo">R$ 350,00</span></p>
                <p>Por: <span class="valor">R$ 300,00</span></p>
                </a>
            </div>
        </section>

    </main>
    <footer>
        <h2>Footer</h2> 
    </footer>
    <script src="/javascripts/myscripty.js"></script>
    <script src="https://kit.fontawesome.com/f5775eff13.js" crossorigin="anonymous"></script>
</body>
</html>